*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  text-align: center;
}
html {
  background: url(../images/leanveren.jpg) no-repeat center center;
  min-height: 100%;
  background-size: cover;
}


/*.center1 {margin: 50% 0%;}*/
.rd {position: absolute; top: 194px; text-align: center; font-family: "TimeMover";}
.wt {position: absolute; top: 109px; text-align: center; font-family: "TimeMover";}



small {
  font-size: 57.33px; font-family: TIME MOVER; width: 100%; top: 16px;
  background: linear-gradient(
    90deg,
  rgba(255, 255, 255, 0.64) 0%,
  rgba(255, 255, 255, 0.9) 52.6%,
  rgba(255, 255, 255, 0.64) 100%);
  display: inline-block;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



h1 {
  font-size: 40px;
  font-family: TIME MOVER;
}

.rd {
  color:brown;
}

.wt {
  color:burlywood
}


.mainmenu {color: white; font-size: 27.65px; font-family: Akzidenz-Grotesk Pro Med;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.9) 0%,
    rgba(255, 255, 255, 0.85) 100%
  );
  padding: 16px 32px;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.button:hover {transform: scale(1.08); transition: 0.16s}
.button {background: red; display: inline-block; padding: 16px 32px; background: rgba(55, 255, 207, 0.19);
  border-radius: 11px; border: 1px solid rgba(255, 255, 255, 0.5); transition: 0.72s;
}




.button {margin: 50% 0%;}






img {
  pointer-events: none;
}
.icons {position: fixed; bottom: 0px; left: 0px; width: 100%}
.icons a {margin: 0px 8px}
.icons a img { opacity: 48%; margin-bottom: 8px; transition: 0.72s}
.icons a:hover img {opacity: 90%; transition: 0.16s}
